body{
  background-color: #f2f0fc;
}

.container{
max-width: 600px;
text-align: center;
padding: 10px 6px;
margin:  60px auto;
border-radius: 10px;
background-color: white;
box-shadow: 7px 10px #d9d3fa;
font-family: Arial, Helvetica, sans-serif;


}

select{
border-radius: 4px;
margin-top: 20px;
width: 90%;
padding:10px;
font-size: 18px;

  }

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
.city{
font-weight: bold;

}
.date{
margin: 0;
line-height: 1.5;

}

h2{
  font-size: 32px;
  font-weight: bold;
}

footer{
  text-align: center;
}