body{
  background-color: #f2f0fc;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
max-width: 600px;
text-align: center;
padding: 10px 6px;
margin:  60px auto;
border-radius: 10px;
background-color: white;
box-shadow: 7px 10px #d9d3fa;


}

select{
border-radius: 4px;
margin-top: 20px;
width: 95%;
padding:10px;
font-size: 18px;

  }

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
.city-time {

display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;
margin: 30px 20px 10px;
padding: 20px 0;
border-bottom: 1px dashed rgba(0, 0, 0, 0.2);

}
.city :last-child{
border: none;
}

.city-date{
  text-align: left;
}

.city h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.date {
  font-size: 16px;
opacity: 0.7;
margin-left: 2px;

}


.time {
  font-size: 36px;
  font-weight: bold;
 text-align: right;
 white-space: nowrap;
}

.time small{
  vertical-align: middle;
  font-size: 18px;
}

footer{
  text-align: center;
}