body{
  background-color: #f2f0fc;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
max-width: 600px;
text-align: center;
padding: 10px 6px;
margin:  60px auto;
border-radius: 10px;
background-color: white;
box-shadow: 7px 10px #d9d3fa;


}

select{
border-radius: 4px;
margin-top: 20px;
margin-bottom: 10px;
width: 90%;
padding:10px;
font-size: 18px;

  }

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
.city {
margin: 0px 40px;
display: flex;
justify-content: space-between;
font-size: 28px;
font-weight: bold;
}
.date {
display: flex;
line-height: 1.5;
opacity: 0.7;
  margin: 0px 20 10px;

}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.time {
  font-size: 48px;
  font-weight: bold;
 text-align: left;
}

.time small{
  vertical-align: middle;
  font-size: 24px;
}

footer{
  text-align: center;
}